/* CSS code for general page elements */

body {
  background-color: #CAFAFE;
}
#main-nav {
  background-color: #FC4445;
  height: 28px;
}
#main-nav ul {
  display: flex;
  justify-content: center;
}
#main-nav ul li{
  list-style-type: none;
  text-align: center;
  padding: 5 10 5 10;
  white-space: nowrap;
}
#main-nav li:hover {
  background-color: #3FEEE6;
  color: white;
  transition-duration: .15s;
}
#head {
  text-align: center;
  background-color: #3FEEE6;
  color: black;
  padding: 8 0 20 0;
  margin: 5px 0px 5px 0px;
  height: 60px;
}
#foot {
  background-color: #3FEEE6;
  text-align: center;
  margin: 5px 0px 5px 0px;
}